.loginbackground{

    padding: 40px 0px 150px 0px;
    background:  url("../Images/loginbackground43.gif") center/cover no-repeat fixed;

}
.loginbackground43 {

    padding: 10px 0px 8px 0px;
    background: url("../Images/loginbackground43.gif") center/cover no-repeat fixed;

}